<h1>Listing Books</h1>
<p align="right" style="font-size:25px;"><%= link_to "Add Book", new_article_path %></p>

<table border="3px">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3">Modifications</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article|%>
    <tr>

      <td><strong><%= article.title %></strong></td>
        <td><%= article.body %></td> 
        <td><%= link_to "Show", article %></td>
        <td><%= link_to "Edit", edit_article_path(article) %></td>
        <td><%= link_to "Destroy", article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
      
    
      </ol>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>







